@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    body {
        background-color: #1434A4;
    }
</style>
 
<body>

<div class="text-center text-white">
    <h1 class="display-4 py-5">Welcome to the 142nd Bulldogs Instructor Database</h1>
    
</div>


</body>
